ConsoleApp/Input/CookML.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Schema for Cookbook Markup Language -->
<!-- Developed by Joe Collins, joe@bagbatch.co.uk -->
<xsd:schema targetNamespace="http://www.joejcollins.co.uk/CookBook/CookML.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.joejcollins.co.uk/CookBook/CookML.xsd" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0a" id="CookML">
  <xsd:annotation>
    <xsd:documentation xml:lang="en">
			As required by the best practice guidelines:
				1. the default namespace and the target namespase are the same.
				2. version and id attributes have been used in the schema element.
				3. version numbers must be included in instance messages.
			
			The guidelines also suggest:
				1. a Russian Doll design is used for messaging schemas.
		</xsd:documentation>
  </xsd:annotation>
  <xsd:element name="Book">
    <xsd:annotation>
      <xsd:documentation>A message structure cook books.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Menu" minOccurs="0" maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Recipe" minOccurs="1" maxOccurs="unbounded">
                <xsd:complexType mixed="true">
                  <xsd:sequence>
                    <xsd:element name="Index" minOccurs="0" maxOccurs="unbounded">
                      <xsd:complexType mixed="true">
                        <xsd:sequence>
                          <xsd:element name="Sub" type="xsd:string" minOccurs="0" />
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="Stage" minOccurs="1" maxOccurs="unbounded">
                      <xsd:complexType mixed="true">
                        <xsd:sequence minOccurs="0">
                          <xsd:choice maxOccurs="unbounded">
                            <xsd:element name="Staple" minOccurs="0" maxOccurs="unbounded">
                              <xsd:complexType>
                                <xsd:attribute name="Name" form="unqualified" type="Staple" />
                              </xsd:complexType>
                            </xsd:element>
                            <xsd:element name="Temperature" minOccurs="0" maxOccurs="unbounded">
                              <xsd:complexType>
                                <xsd:attribute name="Level" form="unqualified" type="Temperature" />
                              </xsd:complexType>
                            </xsd:element>
                            <xsd:element name="Utensil" minOccurs="0" maxOccurs="unbounded">
                              <xsd:complexType>
                                <xsd:attribute name="Name" form="unqualified" type="Utensil" />
                              </xsd:complexType>
                            </xsd:element>
                            <xsd:element name="Check" minOccurs="0" maxOccurs="unbounded">
                              <xsd:complexType>
                                <xsd:attribute name="Quantity" form="unqualified" type="xsd:float" />
                                <xsd:attribute name="Unit" form="unqualified" type="Unit" />
                                <xsd:attribute name="Type" form="unqualified" type="Check" />
                                <xsd:attribute name="Process" form="unqualified" type="Process" />
                              </xsd:complexType>
                            </xsd:element>
                            <xsd:element name="Dairy" minOccurs="0" maxOccurs="unbounded">
                              <xsd:complexType>
                                <xsd:attribute name="Quantity" form="unqualified" type="xsd:float" />
                                <xsd:attribute name="Unit" form="unqualified" type="Unit" />
                                <xsd:attribute name="Type" form="unqualified" type="Dairy" />
                                <xsd:attribute name="Process" form="unqualified" type="Process" />
                              </xsd:complexType>
                            </xsd:element>
                            <xsd:element name="Grocery" minOccurs="0" maxOccurs="unbounded">
                              <xsd:complexType>
                                <xsd:attribute name="Quantity" form="unqualified" type="xsd:float" />
                                <xsd:attribute name="Unit" form="unqualified" type="Unit" />
                                <xsd:attribute name="Type" form="unqualified" type="Grocery" />
                                <xsd:attribute name="Process" form="unqualified" type="Process" />
                              </xsd:complexType>
                            </xsd:element>
                            <xsd:element name="Meat" minOccurs="0" maxOccurs="unbounded">
                              <xsd:complexType>
                                <xsd:attribute name="Quantity" form="unqualified" type="xsd:float" />
                                <xsd:attribute name="Unit" form="unqualified" type="Unit" />
                                <xsd:attribute name="Type" form="unqualified" type="Meat" />
                                <xsd:attribute name="Process" form="unqualified" type="Process" />
                              </xsd:complexType>
                            </xsd:element>
                            <xsd:element name="Vegetable" minOccurs="0" maxOccurs="unbounded">
                              <xsd:complexType>
                                <xsd:attribute name="Quantity" form="unqualified" type="xsd:float" />
                                <xsd:attribute name="Unit" form="unqualified" type="Unit" />
                                <xsd:attribute name="Type" form="unqualified" type="Vegetable" />
                                <xsd:attribute name="Process" form="unqualified" type="Process" />
                              </xsd:complexType>
                            </xsd:element>
                            <xsd:element name="Water" minOccurs="0" maxOccurs="unbounded">
                              <xsd:complexType>
                                <xsd:attribute name="Quantity" form="unqualified" type="xsd:float" />
                                <xsd:attribute name="Unit" form="unqualified" type="Unit" />
                                <xsd:attribute name="Type" form="unqualified" type="Water" />
                                <xsd:attribute name="Process" form="unqualified" type="Process" />
                              </xsd:complexType>
                            </xsd:element>
                          </xsd:choice>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                  <xsd:attribute name="Title" form="unqualified" type="xsd:string" />
                  <xsd:attribute name="Meals" type="Meals" />
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
            <xsd:attribute name="Title" form="unqualified" type="xsd:string" />
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
      <xsd:attribute name="Title" form="unqualified" type="xsd:string" />
    </xsd:complexType>
  </xsd:element>
  <!-- Global Definitions -->
  <!-- A restriction on the number of meals a recipe can cover. -->
  <xsd:simpleType name="Meals">
    <xsd:annotation>
      <xsd:documentation>Correct number of meals a recipe can cover</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:integer">
      <xsd:enumeration value="1" />
      <xsd:enumeration value="2" />
    </xsd:restriction>
  </xsd:simpleType>
  <!-- A restriction on the types of processing techniques allowed. -->
  <xsd:simpleType name="Process">
    <xsd:annotation>
      <xsd:documentation>Correct processing techniques</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="beaten" />
      <xsd:enumeration value="chopped" />
      <xsd:enumeration value="crushed" />
      <xsd:enumeration value="crumbled" />
      <xsd:enumeration value="cubed" />
      <xsd:enumeration value="drained" />
      <xsd:enumeration value="grated" />
      <xsd:enumeration value="ground" />
      <xsd:enumeration value="halved" />
      <xsd:enumeration value="quartered" />
      <xsd:enumeration value="sliced" />
      <xsd:enumeration value="undrained" />
      <xsd:enumeration value="washed" />
    </xsd:restriction>
  </xsd:simpleType>
  <!-- A restriction on the types of staple allowed. -->
  <xsd:simpleType name="Staple">
    <xsd:annotation>
      <xsd:documentation>Correct staples</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="couscous" />
      <xsd:enumeration value="noodles" />
      <xsd:enumeration value="pasta shapes" />
      <xsd:enumeration value="rice brown" />
      <xsd:enumeration value="rice white" />
      <xsd:enumeration value="spaghetti" />
      <xsd:enumeration value="potatoes" />
      <xsd:enumeration value="tagliatelli" />
      <xsd:enumeration value="tortellini" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Temperature">
    <xsd:annotation>
      <xsd:documentation>Correct temperature levels</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="low" />
      <xsd:enumeration value="medium" />
      <xsd:enumeration value="high" />
    </xsd:restriction>
  </xsd:simpleType>
  <!-- A restriction on the types of measurement units allowed. -->
  <xsd:simpleType name="Unit">
    <xsd:annotation>
      <xsd:documentation>Correct units of measurement</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="cloves" />
      <xsd:enumeration value="cm" />
      <xsd:enumeration value="cube" />
      <xsd:enumeration value="g" />
      <xsd:enumeration value="ml" />
      <xsd:enumeration value="pinch" />
      <xsd:enumeration value="tbsp" />
      <xsd:enumeration value="tsp" />
    </xsd:restriction>
  </xsd:simpleType>
  <!-- A restriction on the types of utensil allowed. -->
  <xsd:simpleType name="Utensil">
    <xsd:annotation>
      <xsd:documentation>Correct utensils</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="bowl" />
      <xsd:enumeration value="casserole" />
      <xsd:enumeration value="cup" />
      <xsd:enumeration value="pan" />
      <xsd:enumeration value="wok" />
    </xsd:restriction>
  </xsd:simpleType>
  <!-- Generated from Ingredients.mdb, subject to change -->
  <!-- A restriction on the types ingredient allowed. -->
  <xsd:simpleType name="Check">
    <xsd:annotation>
      <xsd:documentation>Check types in the database</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="asafoetida" />
      <xsd:enumeration value="basil" />
      <xsd:enumeration value="bay leaf" />
      <xsd:enumeration value="black bean sauce" />
      <xsd:enumeration value="chilli powder" />
      <xsd:enumeration value="cinnamon stick" />
      <xsd:enumeration value="cloves" />
      <xsd:enumeration value="creamed coconut" />
      <xsd:enumeration value="cumin seeds" />
      <xsd:enumeration value="curry powder" />
      <xsd:enumeration value="dried thyme" />
      <xsd:enumeration value="flour" />
      <xsd:enumeration value="ground coriander" />
      <xsd:enumeration value="ground cumin" />
      <xsd:enumeration value="marjoram" />
      <xsd:enumeration value="miso" />
      <xsd:enumeration value="mixed herbs" />
      <xsd:enumeration value="mustard seed" />
      <xsd:enumeration value="mustard seeds" />
      <xsd:enumeration value="oil" />
      <xsd:enumeration value="olive oil" />
      <xsd:enumeration value="oregano" />
      <xsd:enumeration value="pepper" />
      <xsd:enumeration value="salt" />
      <xsd:enumeration value="sherry" />
      <xsd:enumeration value="soy sauce" />
      <xsd:enumeration value="stock cube" />
      <xsd:enumeration value="sugar" />
      <xsd:enumeration value="sunflower seeds" />
      <xsd:enumeration value="turmeric" />
      <xsd:enumeration value="wine vinegar" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Dairy">
    <xsd:annotation>
      <xsd:documentation>Dairy types in the database</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="butter" />
      <xsd:enumeration value="cheese" />
      <xsd:enumeration value="cottage cheese" />
      <xsd:enumeration value="eggs" />
      <xsd:enumeration value="milk" />
      <xsd:enumeration value="parmesan" />
      <xsd:enumeration value="plain yoghurt" />
      <xsd:enumeration value="sour cream" />
      <xsd:enumeration value="soured cream" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Grocery">
    <xsd:annotation>
      <xsd:documentation>Grocery types in the database</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="anchovy fillets" />
      <xsd:enumeration value="baked beans" />
      <xsd:enumeration value="can baked beans" />
      <xsd:enumeration value="can borlotti beans" />
      <xsd:enumeration value="can chick peas" />
      <xsd:enumeration value="can coconut milk" />
      <xsd:enumeration value="can evaporated milk" />
      <xsd:enumeration value="can flageolet beans" />
      <xsd:enumeration value="can kidney beans" />
      <xsd:enumeration value="can mushroom soup" />
      <xsd:enumeration value="can sweetcorn" />
      <xsd:enumeration value="can tomatoes" />
      <xsd:enumeration value="can tuna fish" />
      <xsd:enumeration value="capers" />
      <xsd:enumeration value="cashew nuts" />
      <xsd:enumeration value="cider" />
      <xsd:enumeration value="cinnamon" />
      <xsd:enumeration value="cous cous" />
      <xsd:enumeration value="creamed coconut" />
      <xsd:enumeration value="fish fingers" />
      <xsd:enumeration value="flaked almonds" />
      <xsd:enumeration value="frozen peas" />
      <xsd:enumeration value="grated parmesan" />
      <xsd:enumeration value="green lentils" />
      <xsd:enumeration value="ground cinnamon" />
      <xsd:enumeration value="horseraddish sauce" />
      <xsd:enumeration value="lasagna" />
      <xsd:enumeration value="mayonaise" />
      <xsd:enumeration value="naan bread" />
      <xsd:enumeration value="noodles" />
      <xsd:enumeration value="olives" />
      <xsd:enumeration value="oven ready chips" />
      <xsd:enumeration value="pasta sauce" />
      <xsd:enumeration value="pasta shapes" />
      <xsd:enumeration value="peanuts" />
      <xsd:enumeration value="pearl barley" />
      <xsd:enumeration value="pesto" />
      <xsd:enumeration value="pineapple chunks" />
      <xsd:enumeration value="pitta bread" />
      <xsd:enumeration value="pitted olives" />
      <xsd:enumeration value="pizza" />
      <xsd:enumeration value="pizza bases" />
      <xsd:enumeration value="raisins" />
      <xsd:enumeration value="red lentils" />
      <xsd:enumeration value="self raising flour" />
      <xsd:enumeration value="sherry" />
      <xsd:enumeration value="spaghetti" />
      <xsd:enumeration value="suet" />
      <xsd:enumeration value="sunflower seeds" />
      <xsd:enumeration value="tomato puree" />
      <xsd:enumeration value="white rice" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Meat">
    <xsd:annotation>
      <xsd:documentation>Meat types in the database</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="bacon" />
      <xsd:enumeration value="burgers" />
      <xsd:enumeration value="chicken" />
      <xsd:enumeration value="chorizo sausage" />
      <xsd:enumeration value="meat" />
      <xsd:enumeration value="minced meat" />
      <xsd:enumeration value="sausages" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Vegetable">
    <xsd:annotation>
      <xsd:documentation>Vegetable types in the database</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="apple" />
      <xsd:enumeration value="aubergine" />
      <xsd:enumeration value="baking potatoes" />
      <xsd:enumeration value="boiling potatoes" />
      <xsd:enumeration value="cabbage" />
      <xsd:enumeration value="carrots" />
      <xsd:enumeration value="celery" />
      <xsd:enumeration value="courgette" />
      <xsd:enumeration value="garlic" />
      <xsd:enumeration value="green beans" />
      <xsd:enumeration value="green chilli" />
      <xsd:enumeration value="green pepper" />
      <xsd:enumeration value="lemon" />
      <xsd:enumeration value="mange tout" />
      <xsd:enumeration value="mushrooms" />
      <xsd:enumeration value="onions" />
      <xsd:enumeration value="parsnips" />
      <xsd:enumeration value="potatoes" />
      <xsd:enumeration value="red chilli" />
      <xsd:enumeration value="red pepper" />
      <xsd:enumeration value="swedes" />
      <xsd:enumeration value="sweet potatoes" />
      <xsd:enumeration value="tomatoes" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Water">
    <xsd:annotation>
      <xsd:documentation>Water types in the database</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="boiling water" />
      <xsd:enumeration value="cold water" />
      <xsd:enumeration value="water" />
    </xsd:restriction>
  </xsd:simpleType>
</xsd:schema>